.colorPicker {
    display: flex;
    gap: 10px;
    margin-top: 10px;
  }
  
  .colorPicker button {
    width: 30px;
    height: 30px;
    border: none;
    cursor: pointer;
    border-radius: 50%;
  }
  